@media screen and (max-height:900px){
    .main-screen__center-row h1{
        font-size:35pt;
    }
    .main-screen__center-row p{
        font-size:16pt;
    }
    .main-screen__footer{
        margin-top:30vh;
    }
    .second-page__bg__1{
        font-size: 300px;
        top:20vh;
    }
    .second-page__text h1{
        font-size: 50pt;
        margin-top:15vh;
    }
    .third-page{
        width:520px
    }
    .forth-page{
        width:700px
    }
    .forth-page__container__text{
        font-size:80pt
    }
    .fifth-page__bg__1{
        font-size: 300px;
        top:20vh;
    }
    .fifth-page__text h1{
        font-size: 50pt;
        margin-top:15vh;
    }
    .sixth-page{
        width:700px
    }
    .sixth-page__container__text{
        font-size:80pt
    }
    .sixth-page__container__article{
        font-size:18pt
    }
    .sixth-page__container__article p{
        font-size:18pt
    }
    .eigth-page{
        width:700px
    }
    .eigth-page__container__text{
        font-size:80pt
    }
    .eigth-page__container__article{
        font-size:14pt
    }
    .eigth-page__container__article p{
        font-size:14pt
    }
    .tenth-page{
        width:700px
    }
    .tenth-page__container__text{
        font-size:80pt
    }
    .tenth-page__container__article{
        font-size:14pt
    }
    .tenth-page__container__article p{
        font-size:14pt
    }
    .twelweth-page{
        width:700px
    }
    .twelweth-page__container__text{
        font-size:80pt
    }
    .twelweth-page__container__article{
        font-size:14pt
    }
    .twelweth-page__container__article p{
        font-size:14pt
    }
    .fourteenth-page{
        width:700px
    }
    .fourteenth-page__container__text{
        font-size:60pt
    }
    .fourteenth-page__container__article{
        font-size:14pt
    }
    .fourteenth-page__container__article p{
        font-size:14pt
    }
    .seventh-page__bg__1{
        font-size: 300px;
        top:20vh;
    }
    .seventh-page__text h1{
        font-size: 50pt;
        margin-top:15vh;
    }
    .ninth-page__bg__1{
        font-size: 300px;
        top:20vh;
    }
    .ninth-page__text h1{
        font-size: 50pt;
        margin-top:15vh;
    }
    .eleventh-page__bg__1{
        font-size: 300px;
        top:20vh;
    }
    .eleventh-page__text h1{
        font-size: 50pt;
        margin-top:15vh;
    }
    .thirteenth-page{
        padding: 4vh 200px 4vh 130px;
    }
    .thirteenth-page__head{
        margin-bottom: 3vh;
    }
    .thirteenth-page__head__number{
        font-size: 130pt;
    }
    .thirteenth-page__head__text__p1{
        font-size: 50pt;
    }
    .thirteenth-page__head__text__p2{
        font-size: 16pt;
    }
    .thirteenth-page__links__container__bg{
        font-size:80pt ;
    }
    .thirteenth-page__links__container h1{
        font-size:28pt ;
    }
    .thirteenth-page__links__container li a{
        font-size: 14pt;
    }
    .sixteen-page__center-row__form form input{
        height: 40px;
        padding: 10px;
    }
    .sixteen-page__center-row__form form button{
        height: 40px;
        line-height: 1;
    }
    .sixteen-page__copyright{
        margin: 3vh 0 5vh 0;
    }
    .sixteen-page__center-row__links a div {
        margin: 2vh 0 2vh 0;
        font-size: 15pt;
        line-height: 1.5;  
    }

}
@media screen and (max-height:770px){
    
    .main-screen__center-row p{
        margin-bottom:5%;
    }
    .main-screen__footer{
        margin-top:26vh;
    }
    .main-screen #circle-text{
        top:65vh;
        font-size: 8pt;
    }
    .main-screen__play{
        top:70vh;
        left:12%;
        width:40px;
    }
    .third-page__card__number{
        font-size:25pt;
    }
    .third-page__card__number span{
        font-size:40pt;
    }
    .third-page__card__text{
        font-size:12pt;
    }
    .forth-page{
        width:600px
    }
    .sixth-page{
        width:600px
    }
    .eigth-page{
        width:600px
    }
    .tenth-page{
        width:600px
    }
    .twelweth-page{
        width:600px
    }
    .fourteenth-page{
        width:600px
    }
    .ninth-page__bg__2{
        transform: scale(0.7) translateX(-900px);
    }
    .seventh-page{
        width:1000px
    }
    .ninth-page{
        width:1000px
    }
    .eleventh-page{
        width:1000px
    }

}
@media screen and (max-height:690px){
    .main-screen__center-row h1{
        font-size:32pt;
    }
    .main-screen__center-row p{
        font-size:14pt;
        margin-bottom: 3%;
    }
    .main-screen__footer{
        margin-top:32vh;
    }
    .second-page__bg__1{
        font-size: 200px;
        top:18vh;
        left:120px;
    }
    .second-page__text h1{
        font-size: 40pt;
        margin-top:15vh;
    }
    .second-page__text p{
        font-size: 14pt;
        margin-bottom:1%;
    }
    .forth-page{
        width:500px
    }
    .forth-page__container__text{
        font-size:60pt
    }
    .fifth-page__text h1{
        font-size: 40pt;
        margin-top:15vh;
    }
    .fifth-page__text p{
        font-size: 14pt;
        margin-bottom:1%;
    }
    .sixth-page{
        width:500px
    }
    .sixth-page__container__text{
        font-size:50pt
    }
    .sixth-page__container__article{
        font-size:12pt
    }
    .sixth-page__container__article p{
        font-size:12pt
    }
    .eigth-page{
        width:500px
    }
    .eigth-page__container__text{
        font-size:50pt
    }
    .eigth-page__container__article{
        font-size:12pt
    }
    .eigth-page__container__article p{
        font-size:12pt
    }
    .tenth-page{
        width:500px
    }
    .tenth-page__container__text{
        font-size:50pt
    }
    .tenth-page__container__article{
        font-size:12pt
    }
    .tenth-page__container__article p{
        font-size:12pt
    }
    .twelweth-page{
        width:500px
    }
    .twelweth-page__container__text{
        font-size:50pt
    }
    .twelweth-page__container__article{
        font-size:12pt
    }
    .twelweth-page__container__article p{
        font-size:12pt
    }
    .fourteenth-page{
        width:500px
    }
    .fourteenth-page__container__text{
        font-size:50pt
    }
    .fourteenth-page__container__article{
        font-size:12pt
    }
    .fourteenth-page__container__article p{
        font-size:12pt
    }
    .seventh-page__bg__1{
        font-size: 200px;
        top:18vh;
        left:120px;
    }
    .seventh-page__text h1{
        font-size: 40pt;
        margin-top:15vh;
    }
    .seventh-page__text p{
        font-size: 14pt;
        margin-bottom:1%;
    }
    .ninth-page__bg__1{
        font-size: 200px;
        top:18vh;
        left:120px;
    }
    .ninth-page__text h1{
        font-size: 40pt;
        margin-top:15vh;
    }
    .ninth-page__text p{
        font-size: 14pt;
        margin-bottom:1%;
    }
    .eleventh-page__bg__1{
        font-size: 200px;
        top:18vh;
        left:120px;
    }
    .eleventh-page__text h1{
        font-size: 40pt;
        margin-top:15vh;
    }
    .eleventh-page__text p{
        font-size: 14pt;
        margin-bottom:1%;
    }
    .thirteenth-page{
        width:1700px
    }
    .thirteenth-page__head__number{
        font-size: 100pt;
    }
    .thirteenth-page__head__text__p1{
        font-size: 40pt;
        margin-bottom: 1vh;
    }
    .thirteenth-page__head__text{
        width:80%
    }
    .thirteenth-page__head__text__p2{
        font-size: 16pt;
    }
    .thirteenth-page__links__container__bg{
        font-size:70pt ;
    }
    .thirteenth-page__links__container h1{
        font-size:20pt ;
        margin-bottom: 2vh;
    }
    .thirteenth-page__links__container{
        margin-left: 30px;
        margin-right: 30px;
    }
    .thirteenth-page__links__container li a{
        font-size:14pt ;
    }
    .thirteenth-page__links__container li {
        margin-bottom: 2vh ;
    }
}
@media screen and (max-height:660px){
    .main-screen__center-row h1{
        font-size:32pt;
    }
    
    .main-screen__footer{
        margin-top:26vh;
    }
    .third-page{
        width:400px
    }
    .third-page a img{
        margin-left: 250px;
    }
}
@media screen and (max-width:992px){
    .page{
        width:100%;
        height: 1550px;
    }
    .outer-wrapper{
        height: max-content;
        width: 100%;
        transform: none;
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        }
        .wrapper{
            width:100%;
            display: block;
            overflow-y: hidden;
            overflow-x: hidden;
            background-color: white;
            position: relative;
            transform: none;
        }
        .main-screen{
            height: 1800px;
        }
        .main-screen__bg img{
            top:10%;
            height: 45%;
        }
        .main-screen__first-row{
            justify-content: space-around; 
        }
        .main-screen__first-row__logo{
            transform: scale(1.7);
        }
        .main-screen__first-row__menu{
            transform: scale(1.7);
        }
        .main-screen__first-row__tel{
            display: none;
        }
        .main-screen__center-row{
            width:90%;
            margin: 15% 5% 0 5%;
        }
        .main-screen__center-row h1{
            width:90%;
            font-size:35pt ;
            margin: 15% 5% 5% 5%;
        }
        .main-screen__center-row div{
            flex-direction: column;
        }
        .main-screen__center-row div a{
            margin-top: 40px;
        }
        .main-screen #circle-text{
            top:600px;
            left: 65%;
        }
        .main-screen__play{
            left: 60%;
            top:650px;
        }
        .main-screen__footer__social{
            display: none;
        }
        .main-screen__footer{
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        .second-page__bg__1{
            top:10px;
            left:10px;
        }
        .second-page__bg__2{
            width:100%;
            top:0;
            left:0;
            z-index:120;
        }
        .second-page__text h1{
            font-size:60px ;
            margin-bottom: 40px;
        }
        .second-page__text p{
            font-size:28pt ;
            width:90%;
            margin:40px 5% 0 5%;
        }
        .btn div{
            font-size:28pt ;
            width:80%;
            margin:40px 5% 0 5%;
            height:100px;
        }
        .third-page__card{
            height: 500px;
            background:  linear-gradient(to bottom, #242b34, #394150) ;
            padding-top: 50px;
            
        }
        .third-page__card__number{
            margin:0 20px 30px 100px;
            font-size: 50pt;

        }
        .third-page__card__number span{
            margin:0x 20px 30px 40px;
            font-size: 80pt;

        }
        .forth-page__img{
            height: 1000px;
        }
        .forth-page__container__text{
            left: 90%;    
            bottom:140px;
;
        }
        .forth-page__container{
            height: 1000px;
        }
        .forth-page__container a div{
            margin: 840px auto 40px auto;
        }
        .fifth-page__bg__1{
            top:10px;
            left:10px;
        }
        .fifth-page__text h1{
            font-size:60px ;
            margin-bottom: 40px;
        }
        .fifth-page__text p{
            font-size:24pt ;
            width:90%;
            margin:40px 5% 0 5%;
        }
        .sixth-page__img{
            height: 1000px;
        }
        .sixth-page_container__text{
            right: 20px;    
            bottom:70px;
;
        }
        .sixth-page__container{
            height: 1000px;
        }
        .sixth-page__container__article{
            margin-top: 750px;
            margin-bottom: 30px;
        }
        .seventh-page__bg__1{
            top:10px;
            left:10px;
        }
        .seventh-page__text h1{
            font-size:60px ;
            margin-bottom: 40px;
        }
        .seventh-page__text p{
            font-size:24pt ;
            width:90%;
            margin:40px 5% 0 5%;
        }
        .eigth-page__img{
            height: 1000px;
        }
        .eigth-page_container__text{
            right: 20px;    
            bottom:70px;
;
        }
        .eigth-page__container{
            height: 1000px;
        }
        .eigth-page__container__article{
            margin-top: 750px;
            margin-bottom: 30px;
        }
        .ninth-page__bg__1{
            top:10px;
            left:10px;
        }
        .ninth-page__text h1{
            font-size:60px ;
            margin-bottom: 40px;
        }
        .ninth-page__text p{
            font-size:24pt ;
            width:90%;
            margin:40px 5% 0 5%;
        }
        .ninth-page__bg__2{
            left:600px;
            top:550px;
        }
        .tenth-page__img{
            height: 1000px;
        }
        .tenth-page_container__text{
            right: 20px;    
            bottom:70px;
;
        }
        .tenth-page__container{
            height: 1000px;
        }
        .tenth-page__container__article{
            margin-top: 750px;
            margin-bottom: 30px;
        }
        .eleventh-page__bg__1{
            top:10px;
            left:10px;
        }
        .eleventh-page__text h1{
            font-size:60px ;
            margin-bottom: 40px;
        }
        .eleventh-page__text p{
            font-size:24pt ;
            width:90%;
            margin:40px 5% 0 5%;
        }
        .twelweth-page__img{
            height: 1000px;
        }
        .twelweth-page_container__text{
            right: 20px;    
            bottom:70px;
        }
        .twelweth-page__container{
            height: 1000px;
        }
        .twelweth-page__container__article{
            margin-top: 750px;
            margin-bottom: 30px;
        }
        .fourteenth-page__img{
            height: 1000px;
        }
        .fourteenth-page_container__text{
            right: 20px;    
            bottom:70px;
        }
        .fourteenth-page__container{
            height: 1000px;
        }
        .fourteenth-page__container__article{
            margin-top: 750px;
            margin-bottom: 30px;
        }
        .sixteen-page__center-row{
            flex-direction: column;
        }
        .sixteen-page__center-row__links{
            height: max-content;
        }
        .sixteen-page__center-row__form{
            margin-left: 0;
        }
        .sixteen-page__center-row__form__social{
            justify-content: space-between;
            margin-top: 0;
        }
        .sixteen-page__copyright{
            flex-direction: column;
            margin-top: 100px;
        }
        .thirteenth-page__links{
            flex-direction: column;
        }
        .thirteenth-page__links__container{
            margin-bottom: 50px;
            margin-top: 40px;
        }
        .thirteenth-page__links__container h1::after{
content: "▼";
        }
        .thirteenth-page__head{
            flex-direction: column;
            justify-content: flex-start;
        }
        .thirteenth-page__head__number{
            /* flex-direction: column; */
        }
        .thirteenth-page__head__text{
            margin-left: 0;
            width: 100%;
        }
        .thirteenth-page{
           padding:40px
        }
    }
    
    @media screen and (max-width:450px){
            .main-screen{
                height: 1800px;
            }
            .main-screen__first-row__logo{
                transform: scale(1.3);
            }
            .main-screen__first-row__menu{
                transform: scale(1.3);
            }
            .main-screen__center-row{
                width:92%;
                margin: 15% 5% 0 5%;
            }
            .main-screen__center-row h1{
                width:92%;
                font-size:25pt ;
                margin: 15% 5% 5% 5%;
            }
            .main-screen__center-row p{
                font-size:16pt ;
            }
            .second-page__text h1{
                font-size: 36pt;
                margin-bottom: 40px;
                margin-top: 70px;
            }
            .second-page__bg__1{
                top:50px;  
            }
            .second-page__text p{
                font-size:20pt ;
                margin:20px 5% 70px 5%;
            }
            .forth-page__img{
                height: 1000px;
            }
            .forth-page__container__text{
                left: 120%;    
                bottom:40px;
                right: 0;
            }
            .forth-page__container{
                height: 1000px;
            }
            .forth-page__container a div{
                margin: 840px auto 40px auto;
            }
            .seventh-page__text h1{
                font-size: 36pt;
                margin-bottom: 40px;
                margin-top: 70px;
            }
            .seventh-page__bg__1{
                top:50px;  
            }
            .seventh-page__text p{
                font-size:26pt ;
                margin:20px 5% 70px 5%;
            }
            .ninth-page__text h1{
                font-size: 36pt;
                margin-bottom: 40px;
                margin-top: 70px;
            }
            .ninth-page__bg__1{
                top:50px;  
            }
            .ninth-page__text p{
                font-size:26pt ;
                margin:20px 5% 70px 5%;
            }
            .eleventh-page__text h1{
                font-size: 36pt;
                margin-bottom: 40px;
                margin-top: 70px;
            }
            .eleventh-page__bg__1{
                top:50px;  
            }
            .eleventh-page__text p{
                font-size:26pt ;
                margin:20px 5% 70px 5%;
            }
        }