@font-face {
font-family: 'Gilroy';
src: url('../fonts/Gilroy-Light.eot');
src: url('Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
url('../fonts/Gilroy-UltraLight.woff') format('woff'),
url('../fonts/Gilroy-UltraLight.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'Gilroy';
src: url('../fonts/Gilroy-Light.eot');
src: url('Gilroy-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Gilroy-Light.woff') format('woff'),
url('../fonts/Gilroy-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'Gilroy';
src: url('../fonts/Gilroy-Regular.eot');
src: url('Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/Gilroy-Regular.woff') format('woff'),
url('../fonts/Gilroy-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'Gilroy';
src: url('../fonts/Gilroy-Medium.eot');
src: url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
url('../fonts/Gilroy-Medium.woff') format('woff'),
url('../fonts/Gilroy-Medium.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}
@keyframes rotating {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.wrapper{
    width: 6000px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
        .main-screen{
            position: relative;
            width: 1700px;
            background-image: url(../img/main__bg_2.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            min-width: 1700px;
            // min-height: 950px;
            overflow: hidden;
            &__bg{
                img{
                    position: absolute;
                    right: 0%;
                    bottom:0;
                    height: 94%;
                }
            }
            &__first-row{
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                margin-top:45px;
                position: relative;
                width: 100%;
                z-index: 100;
                &__logo{
                    margin:0 0 0 100px;
                }
                &__menu{
                    margin:20px 0 0 10px;
                }
                &__tel{
                    width: 27%;
                    margin: 0 0 0 44%;
                    text-align: center;
                    font-size: 28pt;//48
                    font-family: "Gilroy";
                    font-weight: 200;
                    color: rgb(255, 255, 255);
                    line-height: 1.2;            
                }
            }
            &__center-row{
                margin-top:140px;
                width: 44%;
                margin-left: 160px;
                z-index: 40;
                position: relative;
                h1{
                    font-size: 40pt;//60
                    font-family: "Gilroy";
                    font-weight: 100;
                    text-align: left;
                    color: rgb(255, 255, 255);     
                    letter-spacing: 5px; 
                    line-height: normal;
                    margin-bottom: 40px;            
                }
                p{
                    font-size: 18pt;//18
                    font-weight: 200;
                    font-family: "Gilroy";
                    color: rgb(255, 255, 255);
                    line-height: 1.667;    
                    margin-bottom: 90px;                  
                }
                div{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    a{
                        color: rgb(255, 255, 255);
                        text-decoration: none;
                        font-size: 18pt;
                        font-weight: 200;
                        font-family: "Gilroy";
                        cursor: pointer;
                    }
                }
            }
            #circle-text{
              position: absolute;
              font-weight: 400;
              font-size: 11pt;
              font-family: "Gilroy";
              color: rgb(255, 255, 255);      
              z-index: 12;
              top:650px;//625
              left: 220px;
              animation: rotating 10s linear infinite; 
            }
            &__play{
                width:70px;
                z-index:20;
                position: absolute;
                top:700px;
                left:190px;
            }
            &__footer{
                position: relative;
                z-index: 15;
                width: 355px;
                height: 55px;
                margin-top:380px;
                margin-left:90px;
                margin-bottom: 40px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                &__social{
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    width:150px
                }
            }
            
        }
        .second-page{
            width: 1700px;
            height: 950px;
            background-color: #fff;
            position: relative;
            &__bg{
                &__1{
                    position: absolute;
                    font-size: 550px;
                    font-family: "CormorantGaramond";
                    color: rgb(243, 244, 246);
                    line-height: 0.055;     
                    top:270px;
                    left:70px;               
                }
                &__2{
                    width:500px;
                    height: 508px;
                    position: absolute;
                    background-image: url("../img/second_bg.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    top:440px;
                    left:1200px;
                }
            }
        }




#particles-background, #particles-foreground {
  width:100%;
  transform: scale3d(.9, .9, 1);
  position: absolute;
}

.pg-canvas{
    min-height: 950px;
  
}