@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-UltraLight.woff") format("woff"), url("../fonts/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wrapper {
  width: 6000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.wrapper .main-screen {
  display: inline-block;
  position: relative;
  width: 1700px;
}

.wrapper .main-screen__bg {
  background-image: url(../img/main__bg_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 1700px;
  min-height: 950px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.wrapper .main-screen__bg img {
  position: absolute;
  z-index: 12;
  right: 0%;
  bottom: 0;
  height: 94%;
}

.wrapper .main-screen__first-row {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  top: 45px;
  width: 100%;
  z-index: 11;
}

.wrapper .main-screen__first-row__logo {
  margin: 0 0 0 100px;
}

.wrapper .main-screen__first-row__menu {
  margin: 20px 0 0 10px;
}

.wrapper .main-screen__first-row__tel {
  width: 27%;
  margin: 0 0 0 44%;
  text-align: center;
  font-size: 28pt;
  font-family: "Gilroy";
  font-weight: 200;
  color: white;
  line-height: 1.2;
}

.wrapper .main-screen__center-row {
  position: absolute;
  top: 230px;
  width: 44%;
  margin-left: 160px;
  z-index: 11;
}

.wrapper .main-screen__center-row h1 {
  font-size: 40pt;
  font-family: "Gilroy";
  font-weight: 100;
  text-align: left;
  color: white;
  letter-spacing: 5px;
  line-height: normal;
  margin-bottom: 40px;
}

.wrapper .main-screen__center-row p {
  font-size: 18pt;
  font-weight: 200;
  font-family: "Gilroy";
  color: white;
  line-height: 1.667;
  margin-bottom: 90px;
}

.wrapper .main-screen__center-row div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .main-screen__center-row div a {
  color: white;
  text-decoration: none;
  font-size: 18pt;
  font-weight: 200;
  font-family: "Gilroy";
}

.wrapper .main-screen #circle-text {
  position: absolute;
  font-weight: 400;
  font-size: 11pt;
  font-family: "Gilroy";
  color: white;
  z-index: 12;
  top: 650px;
  left: 220px;
  -webkit-animation: rotating 10s linear infinite;
          animation: rotating 10s linear infinite;
}

.wrapper .main-screen__play {
  width: 70px;
  z-index: 20;
  position: absolute;
  top: 700px;
  left: 190px;
}

.wrapper .main-screen__footer {
  position: absolute;
  z-index: 15;
  width: 355px;
  height: 55px;
  top: 860px;
  left: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .main-screen__footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 150px;
}

.wrapper .second-page {
  display: inline-block;
  width: 1700px;
  height: 100vh;
  background-color: #ccc;
}

#particles-background, #particles-foreground {
  width: 100%;
  -webkit-transform: scale3d(0.9, 0.9, 1);
          transform: scale3d(0.9, 0.9, 1);
  position: absolute;
  z-index: 10;
}

.pg-canvas {
  min-height: 950px;
}
/*# sourceMappingURL=style.css.map */